/* CSS declarations go here */
.selected {
    background-color: yellow;
}

.warrior-display {
    list-style-type: none;
    font-family: 'Special Elite', cursive;
    padding: 5px;
}
.header {
    font-family: 'Griffy', cursive;
}